body{
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 20px;
  width: 100%;
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 103px;
}
@media screen and (min-width:320px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style:normal;
    color: #FFFFFF;
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #FFFFFF;
  }
  picture {     /* why? */
    width: 80%;
    max-width: 256px;
  }
  .section {
    width: 65%;
  }
@media screen and (min-width:768px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-style:normal;
    color: #FFFFFF;
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-style: normal;
    color: #FFFFFF;
  }
  nav{            /*why does it move? */
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .logo {
    display: flex;
    justify-self: flex-start;
    font-family: 'Baloo 2', cursive;
    font-size: 24px;
    font-style: normal;
    color: #FFFFFF;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 39%;
  }
  li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    list-style-type: none;
  } 
  picture {     /* behaves badly, shame on you! */
    width: 78%;
    max-width: 716px;
  }
  .section {
    display: flex;
    justify-content: center;
    width: 75%;
  }
} 
@media screen and (min-width: 1000px) {
  .logo {
    font-family: 'Actor', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #FFFFFF;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
    font-style:normal;
    color: #FFFFFF;
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-style: normal;
    color: #FFFFFF;
  }
  nav{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo {
    display: flex;
    justify-self: flex-start;
    font-family: 'Baloo 2';
    font-size: 24px;
    font-style: normal;
    color: #FFFFFF;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 19%;
  }
  li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    list-style-type: none;
  }
  .section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
  .text {
    width: 29%;
  }
  picture {
    width: 40%;
  }
  }